/* banner */
body{
    border: 0;
}
.banner-text {
    color: #272727;
    display: flex;


    font-family: 'Open Sans', sans-serif;
    
    padding:30px 30px 30px 50px;

}
.paragraph{
    color: #272727;
    
    font-family: 'Open Sans', sans-serif;
    padding:10px 20px 10px 50px;
   
}
.banner-text,.paragraph,.headimg{
    width: 500px;
    display: flex;
}

.paragraph {
   padding-right: 20px;
}

.background{
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    position: relative;


}
.head-img{
width: 635px;
height: 800px;
padding-bottom: 0;
position: absolute;
margin-bottom: 0;
margin-right: 0;

}
.head-btn{
    background-color: #E55473;
  color: #fff;
  
  padding: 20px 43px 20px 43px;
  text-align: center;
  
  display: inline-block;
  font-size: 16px;
  border: 0px;

}
/* main body */

.title{
    text-align: center;
}
.flower-section{
    align-items: center;
  display: inline;
    display: flex;
    gap: 50px;
}
.flower-name{
    text-align: center;
    text-decoration: underline;
}

.hot-deal{
    width: 1922px;
height: 620px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
align-items: center;

}
.deal-description{
    text-align: center;
}
.deal-content{
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.sign-btn{
   
    background-color: #E55473; /* Green */
  color: #fff;
  align-items: center;
  padding: 15px 33px 15px 33px;
  font-size: 15px;
  border: 0px;
}



.deal-img{
    float: right;
    margin-right: 0px 0px 0px 30px;
    width: 400px;
    height: 350px;
}


.nice-flower{
    
    gap: 70px;
    
}
.insta{
    text-align: center;
    background-color: #fff;
}
.background-deal{
    width: 1440px;
    height: 449px;
    text-align: center;
    background-image: url('../images/Rectangle\ 9.png');
    
}
.email-box{
    width: 700px;
height: 64px;
}

/* Footer */
.footer-background{
    background: #111010;
    width: 1922px;
height: 449px;
}

.shop-footer{
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
}
.special-container {
    display: flex;
    gap: 24px;
}

.special-flower {
    padding: 30px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.flower-description {
    color: #757575;
}