/* banner */
.banner-text {
    color: #272727;
    display: flex;

    flex-direction: column;

    font-family: 'Open Sans', sans-serif;
    margin-right: auto;
    padding-right: 20px;
}

.paragraph {
   padding-right: 20px;
}

.background {
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;

}
.headimg{
    text-align: right;
    width: 1920px;
height: 850px;

}
.head-btn{
    background-color: #E55473; /* Green */
  color: #fff;
  
  padding: 15px 32px;
  text-align: center;
  
  display: inline-block;
  font-size: 16px;

}
/* main body */

.title{
    text-align: center;
}
.flower-section{
  
    display: flex;
    gap: 50px;
    

}
.hot-deal{
    width: 1922px;
height: 620px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
text-align: center;
}


.deal-img{
    float: right;
    margin-right: 0px 0px 0px 30px;
    width: 400px;
    height: 350px;
}

